/* manrope-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/manrope-v15-latin-regular.woff2') format('woff2');
}

/* manrope-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/manrope-v15-latin-800.woff2') format('woff2');
}

/* CSS RESET — Josh Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  /* colors */
  --clr-blue-8: hsl(230, 60%, 8%);
  --clr-gray: hsl(225, 14%, 53%);
  --clr-white: hsl(0, 0%, 100%);

  /* font family */
  --ff-headings: 'Manrope', sans-serif;
  --ff-body: 'Manrope', sans-serif;

  /* font weights */
  --fw-500: 400;
  --fw-700: 800;
}

/* REUSABLE STYLES */

/* headings */
.primary-heading {
  font-size: 2rem;
  font-size: clamp(2rem, -0.24561403508771917rem + 4.678362573099415vw, 3rem);
  line-height: 1.16;
  color: var(--clr-white);
}

/* containers */
.container {
  --max-width: 70rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* PAGE STYLES */
body {
  font-family: var(--ff-body);
  font-size: 15px;
  font-weight: var(--fw-500);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-blue-8);
  color: var(--clr-gray);
}

/* header */
.header {
  margin-block: 81px 114px;
}

/* hero */
.hero {
  margin-bottom: 202px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__heading {
  max-width: 17ch;
}

.hero__sub-heading {
  max-width: 58ch;
  margin-block: 24px 64px;
}
