/* font files */
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/manrope-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/manrope-v15-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/manrope-v15-latin-800.woff2") format("woff2");
}

/* CSS RESET — Josh Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  /* colors */
  --clr-dark-blue: hsl(230, 60%, 8%);
  --clr-blue: hsl(206, 84%, 22%);
  --clr-saturated-blue: hsl(225, 14%, 53%);
  --clr-turquoise: hsl(179, 80%, 58%);
  --red: hsl(343, 100%, 58%);
  --clr-white: hsl(0, 0%, 100%);

  /* font family */
  --ff-headings: "Manrope", "Segoe UI", sans-serif;
  --ff-body: "Manrope", "Segoe UI", sans-serif;

  /* font weights */
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-extra-bold: 800;

  /* fixed font sizes */
  --fs-18px: 1.125rem;
  --fs-button: 1rem;

  /* spacing */
  --size-100: 19px; /* 19px */
  --size-200: 24px; /* 24px */
  --size-300: 42px; /* 42px */
  --size-350: 48px; /* 48px */
  --size-500: 64px; /* 64px */
  --size-600: 72px; /* 72px */
}

/* Utility classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: var(--ff-headings);
  font-weight: var(--fw-extra-bold);
  color: var(--clr-white);
  line-height: 1.2;
}

/* 48px-32px */
.heading-primary {
  font-size: 2rem;
  font-size: clamp(2rem, -0.24561403508771917rem + 4.678362573099415vw, 3rem);
}

/* 32px-24px */
.heading-secondary {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 0.3771929824561404rem + 2.3391812865497075vw, 2rem);
}

.heading-tertiary {
  font-size: var(--fs-18px);
}

.text-turquoise {
  color: var(--clr-turquoise);
}
.text-faded {
  opacity: 60%;
}
.text-sm {
  font-size: 15px;
  font-weight: var(--fw-regular);
}

.container {
  --max-width: 69.375rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.grid-2cols,
.grid-4cols {
  display: grid;
}
.grid-2cols {
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 50em) {
  .grid-2cols {
    grid-template-columns: 1fr;
  }
}

.grid-4cols {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

/* PAGE STYLES */

/* general styles */
body {
  /* css reset */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* css reset */

  font-size: 1rem;
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  background-color: var(--clr-dark-blue);
  color: var(--clr-saturated-blue);
}

ul {
  padding: 0;
  list-style: none;
}

/* header */
.header {
  --top-margin: clamp(2.5rem, 1.0563rem + 5.7746vw, 5.0625rem);
  --bottom-margin: clamp(4.0625rem, 2.3371rem + 6.9014vw, 7.125rem);
  margin-block: var(--top-margin) var(--bottom-margin);
}

/* hero */
.hero {
  --bg-image-left-right: clamp(18.75rem, 5.7292rem + 27.7778vw, 25rem);
  --bg-img-squiggle: clamp(21.875rem, 18.3539rem + 14.0845vw, 28.125rem);
  text-align: center;
  position: relative;
  padding-block: 68px;
  margin-bottom: 202px;
  overflow: hidden;
}
.hero__wrapper {
  position: relative;
}
.hero__image-wrapper {
  display: none;
}
.hero::before,
.hero::after,
.hero__wrapper::before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: var(--bg-image-left-right);
  height: var(--bg-image-left-right);
  z-index: -1;
}
.hero::before {
  background-image: url(./assets/illustration-hero-left.svg);
  top: 0;
  left: -3rem;
}
.hero::after {
  background-image: url(./assets/illustration-hero-right.svg);
  top: 0;
  right: -6rem;
}
.hero__wrapper::before {
  background-image: url(./assets/bg-hero-squiggle.svg);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: var(--bg-img-squiggle);
  height: var(--bg-img-squiggle);
}
.hero__heading,
.hero__description,
.hero__icon {
  margin-inline: auto;
}
.hero__heading {
  max-width: 17ch;
  margin-bottom: var(--size-200);
}
.hero__description {
  max-width: 59ch;
  margin-bottom: var(--size-500);
}

@media (max-width: 25em) {
  .hero {
    padding-top: 0;
  }
  .hero::before,
  .hero::after {
    display: none;
  }
  .hero__image-wrapper {
    display: block;
  }
}

/* why */
.why-maker {
  margin-bottom: 202px;
}

.icon-wrapper {
  height: 164px;
  width: 160px;
  background-color: var(--clr-blue);
  border-radius: 45px;

  display: grid;
  place-content: center;
  margin-bottom: 48px;
}

.why-maker__heading {
  margin-bottom: 24px;
}

.why-maker__reasons li:nth-child(even) {
  margin-top: 48px;
}

@media (max-width: 700px) {
  .why-maker__reasons {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .why-maker__reasons li {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 85%;
  }
  .why-maker__reasons li .icon-wrapper {
    flex-shrink: 0;
  }
  .icon-wrapper {
    margin-bottom: 0;
  }
  .why-maker__reasons li:nth-child(even) {
    margin-top: 0;
  }
  .why-maker__reasons li:nth-child(odd) {
    margin-left: 58px;
  }
}

@media (max-width: 450px) {
  .why-maker__reasons li {
    flex-direction: column;
    text-align: center;
  }
  .why-maker__reasons li:nth-child(odd) {
    margin-left: 0;
  }
}

/* pricing */
.pricing__heading {
  text-align: center;
  margin-bottom: 24px;
}

.pricing > h2 + p {
  max-width: 540px;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 72px;
}

/* pricing cards */
.pricing-card-container {
  gap: 30px;
  max-width: 920px;
  margin-inline: auto;
}
.pricing-card {
  padding: 48px 37px;
  border-radius: 8px;
}
.pricing-card--free {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  transform: scale(0.95);
}

.pricing-card--paid {
  background-color: var(--clr-turquoise);
  color: var(--clr-blue);
}
.pricing-card--free,
.pricing-card--paid {
  position: relative;
}
.pricing-card--free::before,
.pricing-card--paid::before {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
}
.pricing-card--free::before {
  background-image: url(/assets/icon-free.svg);
  height: 4rem;
  width: 4rem;
  top: -1.5rem;
  left: 3rem;
}
.pricing-card--paid::before {
  background-image: url(/assets/icon-paid.svg);
  background-size: contain;
  height: 3.5rem;
  width: 3.5rem;
  top: -1.9rem;
  left: 3rem;
}
.pricing-tag {
  display: inline-block;
  font-weight: var(--fw-extra-bold);
  font-size: 18px;
  margin-bottom: 19px;
}
.price {
  font-weight: var(--fw-extra-bold);
  font-size: 40px;
  margin-block: 25px 19px;
}
.price--paid {
  display: flex;
  align-items: center;
  gap: 7.5px;
}
.pricing-card-features-list li:not(:last-child) {
  margin-bottom: 12px;
}
.pricing-card-features-list li::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 12px;
  margin-right: 8px;
}
.pricing-card-features-list--free li::before {
  color: var(--clr-turquoise);
}
.pricing-card-features-list--paid li::before {
  color: var(--clr-blue);
}
