/* font files */
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/manrope-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/manrope-v15-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/manrope-v15-latin-800.woff2") format("woff2");
}

/* CSS RESET — Josh Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  /* colors */
  --clr-saturated-blue: hsl(225, 14%, 53%);
  --clr-blue: hsl(206, 84%, 22%);
  --clr-dark-blue: hsl(230, 60%, 8%);
  --clr-turquoise: hsl(179, 80%, 58%);
  --red: hsl(343, 100%, 58%);
  --clr-white: hsl(0, 0%, 100%);

  /* font family */
  --ff-headings: "Manrope", "Segoe UI", sans-serif;
  --ff-body: "Manrope", "Segoe UI", sans-serif;

  /* font weights */
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-extra-bold: 800;

  /* fixed font sizes */
  --fs-btn-15: 0.9375rem;
  --fs-12: 0.75rem;
  --fs-15: 0.9375rem;
  --fs-18: 1.125rem;

  /* spacing */
  --size-100: 0.75rem; /* 12px */
  --size-200: 1.188rem; /* 19px */
  --size-300: 1.5rem; /* 24px */
  --size-350: 2.625rem; /* 42px */
  --size-500: 4.25rem; /* 68px */
  --size-600: 4rem; /* 64px */
  --size-650: 7.3125rem; /* 117px */
  --size-700: 9.4375rem; /* 151px */
  --size-800: 12.625rem; /* 202px */

  /* fluid spacing */
  --size-fluid-1: clamp(
    9.4375rem,
    7.8112rem + 6.9388vw,
    12.625rem
  ); /* 202-151px */
  --size-fluid-2: clamp(9rem, 7.1505rem + 7.8912vw, 12.625rem); /* 202-144px */
  --size-fluid-3: clamp(9rem, 8.7768rem + 0.9524vw, 9.4375rem); /* 151-144px */
}

/* Utility classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: var(--ff-headings);
  font-weight: var(--fw-extra-bold);
  line-height: 1.2;
  color: var(--clr-white);
}
.heading-primary {
  font-size: 2rem;
  font-size: clamp(
    2rem,
    -0.24561403508771917rem + 4.678362573099415vw,
    3rem
  ); /* 48px-32px */
}
.heading-secondary {
  font-size: 1.5rem;
  font-size: clamp(
    1.5rem,
    0.3771929824561404rem + 2.3391812865497075vw,
    2rem
  ); /* 32px-24px */
}
.heading-tertiary {
  font-size: var(--fs-18px);
}

.text-turquoise {
  color: var(--clr-turquoise);
}
.text-faded {
  opacity: 60%;
}
.text-sm {
  font-size: var(--fs-15);
  font-weight: var(--fw-regular);
}

.button {
  border: 2px solid var(--clr-turquoise);
  padding: 0.625em 1.115em;
  border-radius: 50rem;
  font-size: var(--fs-15);
  font-weight: var(--fw-extra-bold);
  color: var(--clr-blue);
  cursor: pointer;
  background-color: var(--clr-turquoise);
  transition: all 0.5s ease-in-out;
}
.button:is(:hover, :active) {
  background-color: var(--clr-dark-blue);
  border-color: turquoise;
  color: var(--clr-white);
}

.container {
  --max-width: 69.375rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.grid-4cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.875rem;
}

/* PAGE STYLES */

/* general styles */
body {
  /* css reset */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* css reset */

  font-size: 1rem;
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  background-color: var(--clr-dark-blue);
  color: var(--clr-saturated-blue);
}

ul {
  padding: 0;
  list-style: none;
}

/* header */
.header {
  --top-margin: clamp(2.5rem, 1.0563rem + 5.7746vw, 5.0625rem);
  /* 81-40px */
  --bottom-margin: clamp(4.0625rem, 2.3371rem + 6.9014vw, 7.125rem);
  /* 114-65px */

  margin-block: var(--top-margin) var(--bottom-margin);
}

/* hero */
.hero {
  --bg-img-leftANDright: clamp(18.75rem, 5.7292rem + 27.7778vw, 25rem);
  /* 300-400px */
  --bg-img-squiggle: clamp(21.875rem, 18.3539rem + 14.0845vw, 28.125rem);
  /* 350-450px */

  text-align: center;
  padding-block: var(--size-600);
  margin-bottom: var(--size-fluid-1);
  position: relative;
  overflow: hidden;
}

.hero__image-wrapper {
  display: none;
}

.hero__wrapper {
  position: relative;
}

.hero::before,
.hero::after,
.hero__wrapper::before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  width: var(--bg-img-leftANDright);
  height: var(--bg-img-leftANDright);
  z-index: -1;
}
.hero::before {
  background-image: url(./assets/illustration-hero-left.svg);
  left: -3rem;
}
.hero::after {
  background-image: url(./assets/illustration-hero-right.svg);
  right: -6rem;
}

.hero__wrapper::before {
  background-image: url(./assets/bg-hero-squiggle.svg);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: var(--bg-img-squiggle);
  height: var(--bg-img-squiggle);
}

.hero__heading,
.hero__description,
.hero__icon {
  margin-inline: auto;
}
.hero__heading {
  max-width: 17ch;
  margin-bottom: var(--size-200);
}
.hero__description {
  max-width: 59ch;
  margin-bottom: var(--size-500);
}

@media (max-width: 25em) {
  .hero {
    padding: 0;
    margin-bottom: var(--size-700);
  }
  .hero::before,
  .hero::after,
  .hero__wrapper::before {
    display: none;
  }
  .hero__image-wrapper {
    display: block;
    margin-bottom: var(--size-350);
  }
}

/* why */
.why-maker {
  margin-bottom: var(--size-fluid-2);
}

.icon-wrapper {
  height: 10.25rem;
  width: 10rem;
  background-color: var(--clr-blue);
  border-radius: 2.88125rem;

  display: grid;
  place-content: center;
  margin-bottom: var(--size-350);
}

.why-maker__heading {
  margin-bottom: var(--size-300);
}

.why-maker__reasons li:nth-child(even) {
  margin-top: var(--size-350);
}

@media (max-width: 43.75em) {
  .why-maker__reasons {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .why-maker__reasons li {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 85%;
  }
  .why-maker__reasons li .icon-wrapper {
    flex-shrink: 0;
  }
  .icon-wrapper {
    margin-bottom: 0;
  }
  .why-maker__reasons li:nth-child(even) {
    margin-top: 0;
  }
  .why-maker__reasons li:nth-child(odd) {
    margin-left: 3.625rem;
  }
}

@media (max-width: 28.125em) {
  .why-maker__reasons li {
    flex-direction: column;
    text-align: center;
  }
  .why-maker__reasons li:nth-child(odd) {
    margin-left: 0;
  }
}

/* pricing */
.pricing {
  margin-bottom: var(--size-fluid-3);
}

.pricing__heading {
  text-align: center;
  margin-bottom: var(--size-300);
}

.pricing > h2 + p {
  max-width: 33.75rem;
  text-align: center;
  margin-inline: auto;
  margin-bottom: var(--size-600);
}

/* pricing cards */
.pricing-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;

  max-width: 57.5rem;
  margin-inline: auto;
}

@media (max-width: 43.75em) {
  .pricing-card-container {
    grid-template-columns: 1fr;
  }
}
.pricing-card {
  padding: 3rem 2.3125rem;
  border-radius: 8px;
}
.pricing-card--free {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  transform: scale(0.95);
}

.pricing-card--paid {
  background-color: var(--clr-turquoise);
  color: var(--clr-blue);
}
.pricing-card--free,
.pricing-card--paid {
  position: relative;
}
.pricing-card--free::before,
.pricing-card--paid::before {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
}
.pricing-card--free::before {
  background-image: url(/assets/icon-free.svg);
  height: 4rem;
  width: 4rem;
  top: -1.5rem;
  left: 3rem;
}
.pricing-card--paid::before {
  background-image: url(/assets/icon-paid.svg);
  background-size: contain;
  height: 3.5rem;
  width: 3.5rem;
  top: -1.9rem;
  left: 3rem;
}
.pricing-tag {
  display: inline-block;
  font-weight: var(--fw-extra-bold);
  font-size: var(--fs-18);
  margin-bottom: var(--size-200);
}
.price {
  font-weight: var(--fw-extra-bold);
  font-size: 2.5rem;
  margin-block: var(--size-300) var(--size-200);
}
.price--paid {
  display: flex;
  align-items: center;
  gap: 0.46875rem;
}
.pricing-card-features-list li:not(:last-child) {
  margin-bottom: var(--size-100);
}
.pricing-card-features-list li::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: var(--fs-12);
  margin-right: 0.5rem;
}
.pricing-card-features-list--free li::before {
  color: var(--clr-turquoise);
}
.pricing-card-features-list--paid li::before {
  color: var(--clr-blue);
}

/* cta */
.cta {
  margin-bottom: var(--size-650);

  background-image: url(/assets/bg-footer-squiggle.svg);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  padding-block: 5rem;
}
.cta__heading {
  text-align: center;
  margin-bottom: var(--size-350);
}

.cta__form {
  --padding-block: 0.625em;
  --padding-inline: 1.125em;
  --border-width: 2px;

  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.cta__form .button {
  border-width: var(--border-width);
  padding: var(--padding-block) var(--padding-inline);
}

#email {
  border: var(--border-width) solid var(--clr-blue);
  background-color: var(--clr-blue);
  color: var(--clr-white);
  padding: var(--padding-block) var(--padding-inline);
  border-radius: 50rem;
  min-width: 20rem;
  font-size: var(--fs-15px);
}
#email::placeholder {
  color: var(--clr-white);
}

@media (max-width: 43.75em) {
  .form-section {
    width: 100%;

    display: flex;
    justify-content: center;
  }
  #email {
    min-width: initial;
  }
  .cta__form .button {
    text-decoration: center;
  }
  #email,
  .cta__form .button {
    width: 30rem;
    max-width: 100%;
  }
  .cta {
    background-size: 100% 25%;
    background-position: 0 3rem;
  }
}
